*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f2f5fa;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.todo-container{
    background: #fff;
    padding: 30px 40px;
    width: 360px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h1{
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.input-section{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#taskInput{
    flex: 1;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
}

#taskInput:focus{
    border-color: #007bff;
}

#addBtn{
    background: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    font-family: 500;
}

#addBtn:hover{
    background: #0056b3;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #f9fafc;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: all 0.3s;
}

li.completed span{
    text-decoration: line-through;
    color: #777;
}

.action button{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 8px;
}

.action button:hover{
    color: #007bff;
}